div {
width :900px;
height :110px;
background :lightblue;
color :black;
}

.img1 {
width :300px;
height :300px;
position:absolute;
bottom: ;
left: 800 ;
}

.img2 {
width :300px;
height :300px;
position:absolute;
bottom: 430;
left: 100 ;
}

.img3 {
width :300px;
height :300px;
position:absolute;
bottom: ;
left: 1500 ;
}

.img4 {
width :300px;
height :300px;
position:absolute;
bottom: 360;
left: 100 ;
}

.img5 {
width :300px;
height :400px;
position:absolute;
bottom: 340;
left: 130 ;
}


.parrafo {
width :1630px;
height :50px;
background :lightpink;
font-size :30px;
position:relative;
bottom: 50;
left: 60;
text-align: right;
}

.titulo {
color : black;
font-size :50px;
position:relative;
left:500px;
text-align: center;
}



.parrafo2 {
width :300px;
height :90px;
background :lightblue;
font-size :50px;
position:relative;
bottom: -300;
left: 90;
text-align: center;
}

.parrafo3 {
width :300px;
height :90px;
background :lightblue;
font-size :50px;
position:relative;
bottom: -180;
left: 800;
text-align: center;
}

.parrafo4 {
width :300px;
height :90px;
background :lightblue;
font-size :50px;
position:relative;
bottom: -40;
left: 1500;
text-align: center;
}

.parrafo5 {
width :1000px;
height :250px;
background :lightblue;
font-size :50px;
position:relative;
bottom: -40;
left: 600;
text-align: center;
}


.par {
width :1000px;
height :250px;
background :lightblue;
font-size :20px;
position:relative;
bottom: 340;
left: 800;
text-align: center;
}

.fecha {
width :1000px;
height :100px;
background :lightblue;
font-size :40px;
position:relative;
bottom: -180;
left: 400;
text-align: center;
}

.fecha2 {
width :1000px;
height :100px;
background :lightblue;
font-size :40px;
position:relative;
bottom: -250;
left: 400;
text-align: center;
}

.fecha3 {
width :1000px;
height :100px;
background :lightblue;
font-size :40px;
position:relative;
bottom: 100;
left: 400;
text-align: center;
}

.cuest {

position:relative;
bottom: -250;
left: 400;

}

body{
	width: 100%;
}